.mySlides {
  height:400px;
  width:400px;
  margin:50px 0 0 400px;
  position: absolute;
  border-radius: 50px;
}
.left{
  margin:250px 0 0 300px;
}
.right{
position: absolute;
  margin:250px 0 0 550px;
}
